@media screen and (min-width: 64em) {

  /* SHIPPING */

  .paragraph--shipping-simulator-text-pdp {
    text-align: left;
    font: normal normal bold 12px/17px Open Sans;
    letter-spacing: 1.2px;
    color: #25282A;
    text-transform: uppercase;
    opacity: 1;
  }
  
  .heading--product-specifications {
    color: red;
  }

}