@media screen and (min-width: 64em) {

    /* SHELF RELATED */

    .title--shelf-related {
        text-align: left;
        font: normal normal bold 18px/22px Nunito Sans;
        letter-spacing: 0.54px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        justify-content: start;
        padding-left: 17.39vw;
    }

    .slide--shelf-related {
        width: 12.40vw;
    }

    .shelfContentContainer--shelf-related {
        min-height: 406px;
    }

}