@media screen and (min-width: 64em) {

    .quantitySelectorTitle--product-quantity-pdp{
      margin: 0;
    }
  
    /* PRODUCT QUANTITY */

    .quantitySelectorTitle--product-quantity-pdp {
        text-align: left;
        font: normal normal normal 14px/19px Nunito Sans;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin-top: 1.063rem;
        margin-bottom: 0.438rem;
    }

    .quantitySelectorContainer--product-quantity-pdp {
        margin: 0;
    }

    /* .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper-container) {
        justify-content: center;
    } */

    /* .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper-container) {
        background-color: #FFFFFF;
        border: 1px solid #005CFF;
        border-radius: 10px;
        height: 48px;
    } */

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__input) {
        text-align: center;
        font: normal normal bold 16px/16px Nunito Sans;
        letter-spacing: 0.73px;
        color: #212121;
        opacity: 1;
        width: 10.18vw;
        height: 2.937rem;
        border: 0;
        border: 1px solid #005CFF;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__plus-button-container),
    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__minus-button-container) {
        width: 1.42vw;
        height: 2.937rem;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__plus-button) {
        width: 1.42vw!important;
        height: 2.937rem;
        border: 0;
        border: 1px solid #005CFF;
        border-left: 0;
        border-radius: 0 10px 10px 0;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__minus-button) {
        background-color: #FFFFFF;
        width: 1.42vw!important;
        height: 2.937rem;
        border: 0;
        border: 1px solid #005CFF;
        border-right: 0;
        border-radius: 10px 0 0 10px;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__plus-button__text),
    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__minus-button__text) {
        text-align: center;
        font: normal normal normal 17px/16px Nunito Sans;
        letter-spacing: 0.77px;
        color: #212121;
        opacity: 1;
    }

}