@media screen and (min-width: 64em) {

  .listPrice,
  .sellingPrice--summary-pdp,
  .installments--summary-pdp {
    margin: 0;
  }

  /* PRICE SAVINGS */

  .listPrice {
    text-align: left;
    text-decoration: line-through;
    font: normal normal normal 12px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .savings {
    text-align: left;
    font: normal normal normal 12px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-left: 0.20vw;
    margin-bottom: 0.625rem;
  }

  /* PRICE */

  .sellingPrice--summary-pdp {
    text-align: left;
    font: normal normal bold 30px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    height: 2.563rem;
    justify-content: start;
    align-items: center;
    display: flex;
  }

  .sellingPriceValue--summary-pdp  {
    height: 2.563rem;
    justify-content: start;
    align-items: center;
    display: flex;
  }

  /* INSTALLMENTS */

  .installments--summary-pdp {
    text-align: left;
    font: normal normal normal 14px/18px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
  }

  .installmentsNumber--summary-pdp--12,
  .installmentValue--summary-pdp {
    font-weight: bold;
  }

  .installmentsNumber--summary-pdp--12::after {
    content: "x";
  }

}