@media screen and (min-width: 64em) {

  /* SLIDER OFFERS */

  .sliderLayoutContainer--carousel-offers {
    min-height: 22.375rem;
    margin-top: 2.813rem;
    align-items: start;
    padding: 0 !important;
  }

  .sliderTrackContainer--carousel-offers {
    padding-left: 17.39vw;
    padding-right: 17.39vw;
  }

  .sliderLayoutContainer--shelf-product-line {
    width: 12.41vw;
  }

  .sliderTrackContainer--carousel-offers,
  .sliderTrack--carousel-offers {
    min-height: 25rem;
  }


  /* SLIDER OFFERS AVANTI */

  .caretIcon--second-carousel-offers {
    color: transparent;
    background-color: black;
    border-radius: 50px;
    background-image: url('assets/img/arrow-slider.svg');
    /* height: 30px;
    width: 30px; */
    background-repeat: no-repeat;
  }

  .sliderLeftArrow--second-carousel-offers {
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
  }



  /*
  .slide--carousel-offers {
    display: flex;
    justify-content: center;
  }

  .slideChildrenContainer--carousel-offers {
    width: 43.53vw;
  }



  .sliderTrackContainer--carousel-offers,
  .sliderTrack--carousel-offers {
    min-height: 20.706rem;
  }

  .paginationDotsContainer--carousel-offers {
    margin-top: 0.649rem;
  }

  .paginationDot--carousel-offers--isActive, .paginationDot--shelf-product-line--isActive {
    background-color: #005CFF;
  } */

  /* LAUNCH PRODUCT LNE */

  /* .sliderLayoutContainer--shelf-product-line {
    padding: 0!important; */
  /* width: 43.53vw; */
  /* }

  .sliderTrackContainer--shelf-product-line {
    height: 22.688rem;
    width: 100vw;
  }

  .sliderTrack--shelf-product-line, .slideChildrenContainer--shelf-product-line {
    width: 43.45vw;
  }

  .slideChildrenContainer--shelf-product-line {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
  }

  .slide--shelf-product-line {
    display: flex;
    justify-content: center;
  }

  .paginationDotsContainer--shelf-product-line {
    margin-top: 0.625rem;
  } */

}