@media screen and (min-width: 64em) {

  .element {
    padding: 0;
  }

/* SHELF */

  .imageContainer {
    width: 11.77vw;
    height: 13.125rem;
    padding-top: 0.5rem;
  }

  /* ------------------------- */

  .nameContainer {
    padding: 0;
    padding-top: 1.063rem;
    justify-content: center;
  }

  .productBrand {
    text-align: center;
    font: normal normal normal 13px/18px Nunito Sans;
    letter-spacing: 0.65px;
    color: #303030;
    text-transform: capitalize;
    opacity: 1;
    display: flex;
    justify-content: center;
  }

}