@media screen and (min-width: 64em) {

  /* FIRST LINE */

  .paragraph--home-banner-title {
    text-align: left;
    font: normal normal bold 40px/55px Open Sans;
    letter-spacing: 12px;
    color: #005CFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 6.188rem;
  }

  .container--home-banner-title {
    height: 9.625rem;
  }

  .paragraph--home-banner-text {
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #B1B3B3;
    opacity: 1;
    text-transform: none;
    align-items: flex-start;
    overflow: hidden;
  }

  .container--home-banner-text,
  .paragraph--home-banner-text,
  .wrapper--home-banner-text {
    height: 7.438rem;
    width: 24.68vw;
  }

  .container--home-banner-text {
    margin-top: 2.5rem;
  }

  .container--home-banner-button {
    width: 13.07vw;
    margin-top: 2.5rem;
  }

  .wrapper--home-banner-button {
    width: 43.45vw;
    height: 38px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .paragraph--home-banner-button {
    text-align: left;
    font: normal normal bold 12px/16px Nunito Sans;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: 1;
    height: 17px;
    width: 7.13vw;
    display: flex;
    justify-content: space-between;
  }

  .link--home-banner-button {
    color: #000000;
 
  }

  .paragraph--home-banner-button::after {
    content: "→";
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  /* LAUNCH PRODUCT LNE */

  .paragraph--lanch-product-text {
    text-align: left;
    font: normal normal bold 18px/22px Nunito Sans;
    letter-spacing: 0.54px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
  }

  .container--lanch-product-text {
    padding-left: 17.39vw;
  }

  .link--lanch-product-see-more {
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 13px/22px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
    padding-right: 17.39vw;
  }

   /* PRE FOOTER */

   .container--pre-footer-title {
    width: 100vw;
    justify-content: center;
  }

   .paragraph--pre-footer-title {
    text-align: center;
    font: normal normal bold 16px/30px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: none;
  }

  .container--pre-footer-text {
    height: 3.938rem;
    margin-top: 1.25rem;
  }

  .wrapper--pre-footer-text, .paragraph--pre-footer-text {
    height: 3.938rem;
  }

  .paragraph--pre-footer-text {
    text-transform: none;
    text-align: center;
    font: normal normal normal 13px/22px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

}