@media screen and (min-width: 80em) {

  /* FIRST LINE */

  .paragraph--home-banner-title {
    text-align: left;
    font: normal normal bold 40px/55px Open Sans;
    letter-spacing: 12px;
    color: #005CFF;
    text-transform: uppercase;
    opacity: 1;
  }

  .paragraph--home-banner-text {
    text-align: left;
    font: normal normal normal 12px Open Sans;
    letter-spacing: 0px;
    color: #B1B3B3;
    opacity: 1;
    display: block;
  }

  .container--home-banner-text,
  .paragraph--home-banner-text,
  .wrapper--home-banner-text {
    height: 119px;
    width: 24.68vw;
    /* margin-right: 17.39vw; */
  }

  .container--home-banner-button {
    width: 13.07vw;
  }

  .paragraph--home-banner-button {
    margin: 0;
    padding-left: 2.96vw !important;
  }


}