@media screen and (min-width: 64em) {

/* FIRST LINE */

  .imageElement--home-banner-desktop {
    height: 500px;
    width: auto;
    object-fit: cover;
  }

  /* SLIDER OFFERS */

  .imageElementLink--carousel-offers {
    width: 12.41vw;
    height: 25rem;
  }
  
 /* BANNERS */

 .imageElement--image-banner-home {
  width: 32.08vw;
}

.imageElement--big-banner {
  height: 25rem;
  padding-left: 17.39vw;
  margin-right: 1.04vw;
}

.imageElement--medium-banner, .imageElement--small-banner {
  height: 12rem;
  padding-right: 17.39vw;
}


  /* SECONDE SLIDER */

  .imageElementLink--second-carousel-offers {
    width: 60%;
   }
}


