@media screen and (min-width: 64em) {

  /* SLIDER OFFERS */

  .sliderLayoutContainer--carousel-offers {
    min-height: 22.375rem;
    margin-top: 2.813rem;
    align-items: start;
    padding: 0 !important;
  }

  .sliderTrackContainer--carousel-offers {
    padding-left: 17.39vw;
    padding-right: 17.39vw;
  }

  /* SHELF */

  .sliderLayoutContainer--shelf-product-line {
    width: 100vw;
    padding: 0 !important;
    padding-left: 17.39vw !important;
    padding-right: 17.39vw !important;
  }

  .sliderTrack--shelf-product-line,
  .slide--shelf-product-line,
  .slideChildrenContainer--shelf-product-line {
    width: 12.40vw;
  }

  .slideChildrenContainer--shelf-product-line:hover :global(.vtex-flex-layout-0-x-flexRow--add-to-cart-button-home) {
    display: block;
    justify-content: center;
    margin-bottom: 0.75rem;
    margin-left: 0.78vw;
  }


  .slideChildrenContainer--shelf-product-line {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
  }

  .paginationDotsContainer--carousel-offers {
    margin-top: 0.649rem;
  }

  .slide--shelf-product-line {
    display: flex;
    justify-content: center;
  }


  /* LAUNCH PRODUCT LINE */

  .paginationDotsContainer--shelf-product-line,
  .paginationDotsContainer--second-carousel-offers {
    margin-top: 0.625rem;
  }

  /* SLIDER OFFERS AVANTI */

  .sliderLayoutContainer--second-carousel-offers {
    margin-top: 1rem;
    padding: 0 !important;
    padding-left: 17.39vw !important;
    padding-right: 17.39vw !important;
  }

  .sliderTrackContainer--second-carousel-offers,
  .sliderTrack--second-carousel-offers {
    height: 5.75rem;
  }

  .caretIcon--second-carousel-offers,
  .caretIcon--shelf-product-line {
    color: transparent;
    background-color: black;
    border-radius: 50px;
    background-image: url('assets/img/arrow-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .sliderLeftArrow--second-carousel-offers,
  .sliderLeftArrow--shelf-product-line {
    transform: rotate(180deg);
    margin: 0;
    padding-right: 17.13vw;
  }

  .sliderRightArrow--second-carousel-offers,
  .sliderRightArrow--shelf-product-line {
    margin: 0;
    padding-right: 17.13vw;
  }

  .paginationDot--carousel-offers--isActive,
  .paginationDot--shelf-product-line--isActive,
  .paginationDot--second-carousel-offers--isActive {
    background-color: #005CFF;
  }


}


@media screen and (max-width: 115em) {
  /* 1840 */



}

@media screen and (max-width: 87em) {
  /* 1392 */

  /* BANNERS OFFERS */
  .sliderTrackContainer--carousel-offers {
    padding-left: 8.69vw;
    padding-right: 8.69vw;
  }

  /* SHELF */

  .sliderLayoutContainer--shelf-product-line {
    padding-left: 8.69vw !important;
    padding-right: 8.69vw !important;
  }

  .sliderTrack--shelf-product-line,
  .slide--shelf-product-line,
  .slideChildrenContainer--shelf-product-line {
    width: 14.8vw;
  }


  /* AVANTI OFFERS */
  .sliderLayoutContainer--second-carousel-offers {
    padding-left: 8.69vw !important;
    padding-right: 8.69vw !important;
  }

  /* ARROWS */

  .sliderLeftArrow--second-carousel-offers,
  .sliderLeftArrow--shelf-product-line {
    padding-right: 8.69vw;
  }

  .sliderRightArrow--second-carousel-offers,
  .sliderRightArrow--shelf-product-line {
    padding-right: 8.69vw;
  }


}