@media screen and (min-width: 64em) {

/* FIRST LINE */

  .imageElement--home-banner-desktop {
    height: 500px;
    width: auto;
    object-fit: cover;
    /*
    object-position: 98%; */
  }

  /* SLIDER OFFERS */

  .imageElementLink--carousel-offers {
    width: 12.41vw;
    height: 25rem;
  }

  .imageElement--carousel-offers {

  }

}


