@media screen and (min-width: 64em) {

    /* LAUNCH PRODUCT LINE */
    /* SHELF */

    .buttonText {
        display: none;

    }

    .buttonDataContainer--add-to-cart-button-button-home {
        background-color: #005CFF;
        height: 2.5rem;
        border-radius: 10px;
        width: 10.89vw;
        align-items: center;

    }

    .buttonDataContainer--add-to-cart-button-button-home::after {
        content: "comprar";
        text-align: center;
        font: normal normal bold 14px/20px Nunito Sans;
        letter-spacing: 0.7px;
        color: #FFFFFF;
        text-transform: capitalize;
        opacity: 1;
    }

}