@media screen and (min-width: 64em) {


  .productHighlightWrapper--collection {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 200px;
  }

  .productHighlightWrapper--first-wrapper-highlight {
    background-color: #6220C1;
    width: 3.39vw;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 5px 5px 3px 5px;
  }

  .productHighlightWrapper--second-wrapper-highlight {
    width: 2.14vw;
    margin-top: 1.562rem;
    background-color: #00264E;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 5px 5px 3px 5px;
  }

}

@media screen and (max-width: 115em) {
  /* 1840 */

  .productHighlightWrapper--first-wrapper-highlight {
    width: 3.7vw;
  }

  .productHighlightWrapper--second-wrapper-highlight {
    width: 2.25vw;
  }

}

@media screen and (max-width: 104em) {
  /* 1650 */

  .productHighlightWrapper--first-wrapper-highlight {
    width: 4vw;
  }

  .productHighlightWrapper--second-wrapper-highlight {
    width: 2.5vw;
  }

}

@media screen and (max-width: 87em) {
  /* 1392 */

  .productHighlightWrapper--first-wrapper-highlight {
    width: 5vw;
  }

  .productHighlightWrapper--second-wrapper-highlight {
    width: 3.1vw;
  }

}