@media screen and (min-width: 64em) {

  /* .container :global(.vtex-flex-layout-0-x-flexRow--add-to-cart-button-home) :global(.vtex-button) {
    display: none;
  }

  .container:hover :global(.vtex-flex-layout-0-x-flexRow--add-to-cart-button-home) :global(.vtex-button) {
    display: block;
    background-color: white;
    border: 0;
  } */

  .container:hover {
    height: 25.188rem;
  }

  .container {
    height: 23.688rem;
  }

  .element {
    padding: 0;
  }

  /* SHELF */

  .imageContainer {
    width: 11.77vw;
    height: 13.125rem;
    padding-top: 0.5rem;
  }

  .currencyContainer--summary {
    justify-content: center;
  }

  /* ------------------------- */

  .nameContainer {
    padding: 0;
    justify-content: center;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  .productNameContainer {
    display: flex;
    align-items: center;
  }

  .productBrand {
    text-align: center;
    font: normal normal normal 13px/18px Nunito Sans;
    letter-spacing: 0.65px;
    color: #303030;
    text-transform: capitalize;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .savings--summary {
    display: none;
  }

  .containerNormal {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
  }
}