@media screen and (min-width: 64em) {

  .flexRowContent--home-first-line-desktop {
    height: 500px;
  }

  .flexCol--image-home-first-line-desktop {
    background-color: #f5f5f5;
    width: 57.91vw;
  }

  .flexCol--information-home-first-line {
    width: 42.08vw;
    background-color: #f5f5f5;
  }

  .flexRow--home-first-line-desktop {
    display: flex;
    justify-content: flex-start;
  }

  .flexRow--home-first-line-desktop {
    width: 100vw;
  }

  .flexRow--home-first-line-desktop :global(.vtex-store-components-3-x-container) {
    margin: 0;
    padding: 0;
  }


}
