@media screen and (min-width: 64em) {

/* FIRST LINE */

  .imageElement--home-banner-desktop {
    height: 500px;
    width: auto;
    object-fit: cover;
  }

  /* SLIDER OFFERS */

  .imageElementLink--carousel-offers {
    width: 12.41vw;
    height: 25rem;
  }
  
 /* BANNERS */

 .imageElement--image-banner-home {
  width: 32.08vw;
}

.imageElement--big-banner {
  height: 25rem;
  padding-left: 17.39vw;
  margin-right: 0.52vw;
}

.imageElement--medium-banner, .imageElement--small-banner {
  height: 12rem;
  padding-right: 17.39vw;
  margin-left: 0.52vw;
}


  /* SECONDE SLIDER */

  .imageElementLink--second-carousel-offers {
    width: 60%;
   }
}

@media screen and (max-width: 87em) {
  /* 1392 */

  .imageElement--big-banner {
    padding-left: 0vw;
  }
  
  .imageElement--medium-banner, .imageElement--small-banner {
    padding-right: 0vw;
  }

  .imageElementLink--second-carousel-offers {
    width: 50%;
   }

}

