@media screen and (min-width: 64em) {

  /* SLIDER OFFERS */

  .sliderLayoutContainer--carousel-offers {
    min-height: 22.375rem;
    margin-top: 2.813rem;
    align-items: start;
    padding: 0 !important;
  }

  .sliderTrackContainer--carousel-offers {
    padding-left: 17.39vw;
    padding-right: 17.39vw;
  }

  .sliderLayoutContainer--shelf-product-line {
    width: 12.41vw;
  }

  .sliderTrackContainer--carousel-offers,
  .sliderTrack--carousel-offers {
    min-height: 25rem;
  }

  .paginationDotsContainer--carousel-offers {
    margin-top: 0.649rem;
  }


  /* LAUNCH PRODUCT LINE */

  .paginationDotsContainer--shelf-product-line,
  .paginationDotsContainer--second-carousel-offers {
    margin-top: 0.625rem;
  }

  /* SLIDER OFFERS AVANTI */

  .caretIcon--second-carousel-offers {
    color: transparent;
    background-color: black;
    border-radius: 50px;
    background-image: url('assets/img/arrow-slider.svg');
    /* height: 30px;
    width: 30px; */
    background-repeat: no-repeat;
  }

  .sliderLeftArrow--second-carousel-offers {
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
  }

  .paginationDot--carousel-offers--isActive,
  .paginationDot--shelf-product-line--isActive,
  .paginationDot--second-carousel-offers--isActive {
    background-color: #005CFF;
  }


}