@media screen and (max-width: 40em) {

/* FIRST LINE */

  .flexRowContent--home-first-line {
    display: flex;
    flex-direction: row;
    height: 222px;
  }

  .flexCol--image-home-first-line {
    width: 46.72vw;
    background-color: #f5f5f5;
  }

  .flexCol--information-home-first-line {
    background-color: #f5f5f5;
  }

  .flexColChild--information-home-first-line:first-child {
    height: 41px !important;
    padding-top: 16px;
  }

    /* LAUNCH PRODUCT LINE */

    .flexRowContent--lanch-product-line {
      display: flex;
      justify-content: space-between;
      margin-top: 3.288rem;
      /* margin-bottom: 0.813rem; */
    }
 
    .flexCol--productRating {
      margin: 0.438rem;
    }


    /* SHELF */

    .flexRow--add-to-cart-button-home {
      display: flex;
      justify-content: center;
      margin-bottom: 0.75rem;
    }

    .flexRowContent--add-to-cart-button-home {
      display: flex;
      justify-content: center;
      width: 39.48vw;
      height: 2.5rem;
    }

    .flexRowContent--add-to-cart-button-home :global(.vtex-button) {
      display: contents;
    }

    .flexRowContent--add-to-cart-button-home :global(.vtex-button__label) {
      background-color: #005CFF;
      width: 39.48vw;
      height: 2.5rem;
      border-radius: 10px;
    }

    /* BANNERS */

    .flexRow--banners-sales-line {
      margin-top: 3.101rem;
    }

    .flexRow--banners-sales-first-line, .flexRow--banners-sales-second-line-banner-1 {
      margin-bottom: 0.846rem;
    }

    /* SLIDER OFFERS */


    /* PRE FOOTER */

    .flexRow--pre-footer {
      margin-top: 3.563rem;
      padding-left: 9.81vw;
      padding-right: 9.81vw;
    }

}