@media screen and (max-width: 40em) {

  /* FIRST LINE */

  .paragraph--home-banner-title {
    color: #005CFF;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    opacity: 1;
  }

  .paragraph--home-banner-text {
    font: normal normal normal 12px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #5F5F5F;
    opacity: 1;
    text-transform: none;
    padding-right: 4.90vw;
    padding-top: 16px;
    overflow: hidden;
    text-overflow: clip;
    display: block;
  }

  .container--home-banner-text,
  .paragraph--home-banner-text,
  .wrapper--home-banner-text {
    height: 110px;
  }

  .container--home-banner-button {
    height: 38px;
    margin-top: 20px;
  }

  .wrapper--home-banner-button {
    width: 43.45vw;
    height: 38px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .paragraph--home-banner-button {
    text-align: left;
    font: normal normal bold 12px/16px Nunito Sans;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: 1;
    padding-left: 5.37vw;
    height: 16px;
  }

  .link--home-banner-button {
    color: #000000;

  }

  .paragraph--home-banner-button::after {
    content: "→";
    padding-left: 7.24vw;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  /* LAUNCH PRODUCT LNE */

  .paragraph--lanch-product-text {
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal bold 18px/22px Nunito Sans;
    letter-spacing: 0.54px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
  }

  .container--lanch-product-text {
    padding-left: 3.5vw;
  }

  .link--lanch-product-see-more {
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 13px/22px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
    padding-right: 3.5vw;
  }

  /* PRE FOOTER */

  .container--pre-footer-title {
    padding-left: 16.58vw;
    margin-bottom: 1.25rem;
  }

  .paragraph--pre-footer-title {
    text-align: center;
    font: normal normal bold 16px/30px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: none;
  }

  .container--pre-footer-text::before {
    margin-top: 1.25rem;
  }

  .container--pre-footer-text {
    height: 12.188rem;
  }

  .wrapper--pre-footer-text, .paragraph--pre-footer-text {
    height: 12.188rem;
  }

  .paragraph--pre-footer-text {
    text-transform: none;
    text-align: center;
    font: normal normal normal 13px/22px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}