@media screen and (max-width: 40em) {

  .currencyContainer--summary {
    display: flex;
    align-items: center;
    text-align: center;
    font: normal normal bold 12px/20px Nunito Sans;
    letter-spacing: 0.9px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
  }

  .sellingPrice--summary-final {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .sellingPriceValue--summary-final {
    display: flex;
    align-items: center;
    text-align: center;
    font: normal normal bold 18px/20px Nunito Sans;
    letter-spacing: 0.9px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
  }

  .installments--summary-10 {
    display: none;
  }

  .currencyContainer--summary-final {
    font-size: 18px;
  }

  .listPrice--summary {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listPriceValue--summary {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}