@media screen and (max-width: 40em) {

  /* SLIDER OFFERS */

  .sliderLayoutContainer--carousel-offers {
    min-height: 22.375rem;
    margin-top: 2.399rem;
    align-items: start;
  }

  .slide--carousel-offers {
    display: flex;
    justify-content: center;
  }

  .slideChildrenContainer--carousel-offers {
    width: 43.53vw;
  }

  .sliderLayoutContainer--carousel-offers {
    padding: 0 !important;
  }

  .sliderTrackContainer--carousel-offers,
  .sliderTrack--carousel-offers {
    min-height: 20.706rem;
  }

  .paginationDotsContainer--carousel-offers {
    margin-top: 0.649rem;
  }

  .paginationDot--carousel-offers--isActive,
  .paginationDot--shelf-product-line--isActive,
  .paginationDot--second-carousel-offers--isActive {
    background-color: #005CFF;
  }

  /* LAUNCH PRODUCT LNE */

  .sliderLayoutContainer--shelf-product-line {
    padding: 0 !important;
    /* width: 43.53vw; */
  }

  .sliderTrackContainer--shelf-product-line {
    height: 22.688rem;
    width: 100vw;
    margin-top: 0.813rem;
  }

  .sliderTrack--shelf-product-line,
  .slideChildrenContainer--shelf-product-line {
    width: 43.45vw;
  }

  .slideChildrenContainer--shelf-product-line {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
  }

  .slide--shelf-product-line {
    display: flex;
    justify-content: center;
  }

  .paginationDotsContainer--shelf-product-line,
  .paginationDotsContainer--second-carousel-offers {
    margin-top: 0.625rem;
  }

  /* SLIDER OFFERS */



  .sliderLayoutContainer--second-carousel-offers {
    height: 4.652rem;
    padding: 0 !important;
  }

  .sliderTrackContainer--second-carousel-offers,
  .sliderTrack--second-carousel-offers {
    height: 2.75rem; 
  }

}