@media screen and (max-width: 40em) {

  .imageElement--home-banner {
    /* object-position: center; */
    /* background-origin: content-box;
  height: 257px; */
    /* width: 600px; */
    height: 190px;
    object-fit: cover;
    object-position: 90%;
  }

}