/* FIRST LINE */

  .flexRowContent--home-first-line {
    display: flex;
    flex-direction: row;
    height: 222px;
  }

  .flexCol--image-home-first-line {
    width: 46.72vw;
    background-color: #f5f6f6;
  }

  .flexCol--information-home-first-line {
    background-color: #f5f6f6;
  }

  .flexColChild--information-home-first-line:first-child {
    height: 41px !important;
    padding-top: 16px;
  }