@media screen and (min-width: 40em) and (max-width: 64em) {

    :global(.vtex-minicart-2-x-opened) {
        max-width: 41.79vw!important;
        width: 100%!important;
    }

    .openIconContainer {
        padding: 0;
        margin-left: 17.30vw;
        margin-right: 5.2vw;
    }

    .cartIcon {
        height: 24px;
        width: 25px;
    }

    .closeIconContainer::after {
        display: none;
    }

    .closeIconContainer::before {
        content: "meu carrinho";
        justify-content: center;
        color: white;
        text-transform: uppercase;
        display: flex;
        margin: auto;
        margin-left: 16vw;
        font-size: 14px;
    }


}
