@media screen and (min-width: 40em) and (max-width: 64em) {
    .searchBarContainer {
        margin-left: 0;
        margin: 0;
        padding: 0;
        /* width: 100px; */
    }

    .searchBarContainer:first-child {
        margin: 0;
        padding: 0;
    }

    .autoCompleteOuterContainer:first-child {
        width: 40vw;
    }

    .imageElement--image-media {
        margin-top: 22px;
        margin-left: 1vw; 
        height: 36px;
        width: 36px;
        border-radius: 2px;
    }

    .imageElement--image-payment {
        margin-right: 0vw;
    }

    :global(.vtex-store-components-3-x-container) {
        padding: 0 !important;
    }
}