@media screen and (min-width: 64em) {

  /* CONTAINER */

  .searchResultContainer--container-pdp-desktop {
    margin: 0;
    margin-left: 17.40vw;
    margin-right: 17.40vw;
    padding: 0;
  }

  /* TITLE */


  /* ORDER AND FILTER  */


  
  /* TOTAL PRODUCTS */

  
  /* SHOW PRODUCTS PER PAGE */



  /* SHOW MORE BUTTON */

  

  /* SIDE BAR */

  

  /* BUTTONS */

 


  /* FILTER TOTAL RODUCTS */



}