@media screen and (min-width: 40em) and (max-width: 64em) {

    /* PRODUCT QUANTITY */

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper-container) {
        justify-content: center;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__input) {
        width: 28.45vw;
        height: 3rem;
        border-left: 0 !important;
        border-right: 0 !important;
        border: 1px solid #005CFF;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__plus-button),
    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__minus-button) {
        width: 2.64vw!important;
        height: 3rem;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__plus-button) {
        border-left: 0 !important;
        border: 1px solid #005CFF;
        border-radius: 10px;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__minus-button) {
        background-color: #FFFFFF;
        border-right: 0 !important;
        border: 1px solid #005CFF;
        border-radius: 10px;
    }

    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__plus-button__text),
    .quantitySelectorStepper--product-quantity-pdp :global(.vtex-numeric-stepper__minus-button__text) {
        text-align: center;
        font: normal normal normal 17px/16px Nunito Sans;
        letter-spacing: 0.77px;
        color: #212121;
        opacity: 1;
    }

}