@media screen and (max-width: 40em) {


  /* ORDER AND FILTER */

  .flexRowContent--department-first-line {
    height: 2.813rem;
    justify-content: space-between;
    margin-bottom: 1.455rem;
    padding-left: 5.14vw;
    padding-right: 5.14vw;
  }

  /* TOTAL PRODUCTS */

  .flexRow--productCountMobileRow {
    display: flex;
    justify-content: start;
  }

  .flexRow--productCountMobileRow :global(.vtex-store-components-3-x-container) {
    margin: 0;
  }

  .flexRowContent--productCountMobileRow {
    margin-bottom: 1.983rem;
    padding-left: 5.14vw;
  }

}