@media screen and (min-width: 64em) {

  /* PRODUCTS AND FILTER CONTAINER */

  .flexRow--result-product-container {
    margin-top: 1.355rem;
  }

  .flexRowContent--result-product-container {
    display: flex;
    justify-content: space-between!important;
  }

  /* PRODUCTS COL */

  .flexCol--products-col::before {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .flexCol--products-col {
    width: 52.03vw;
    margin-left: 4.24vw;
  }

  .flexCol--filterCol {
    width: 9.60vw;
  }

  .flexRow--products-order-by {
    margin-top: 1.643rem;
    margin-bottom: 1.616rem;
    height: 1.813rem;
  }

  .flexCol--productCountCol {
    align-items: start;
  }

  .flexColChild--productCountCol {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
  }

  .flexRow--orderByAndSwitcher {
    padding: 0;
  }

  /* SHOW MORE BUTTON */

  .flexRowContent--showMore-button {
    margin: 0;
    margin-top: 1.438rem;
    margin-bottom: 4.813rem;
  }
  

}