@media screen and (min-width: 64em) {

    /* BANNER */

    .searchBanner--myBanner-one-plp {
        display: flex;
        justify-content: center;
    }

    .searchBanner--myBanner-one-plp :global(.vtex-search-result-3-x-banner) {
        min-width: 52.03vw;
        height: auto;
    }
}  