@media screen and (min-width: 1024px) {

    .searchBarContainer {
        width: 380px;
        padding-top: 15px;
        margin-left: 81px;
    }

    /* .searchBarInnerContainer {
        width: 100px;
        padding-top: 15px;
    } */
}