@media screen and (max-width: 40em) {

    /* SHELF RELATED */

    .title--shelf-related {
        text-align: left;
        font: normal normal bold 18px/22px Nunito Sans;
        letter-spacing: 0.54px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        justify-content: start;
        padding-left: 5.14vw;
    }

}