@media screen and (max-width: 40em) {

    /* BUY BUTTTON */

    .buttonText--add-to-cart-button-pdp-text {
        text-align: left;
        font: normal normal bold 18px/24px Nunito Sans;
        letter-spacing: 1.8px;
        color: #FFFFFF;
        text-transform: capitalize;
        opacity: 1;
    }


}