@media screen and (max-width: 40em) {

    /* BREADCRUMB */

    .flexRowContent--breadcrumb-pdp :global(.vtex-breadcrumb-1-x-homeLink),
    .flexRowContent--breadcrumb-pdp :global(.vtex-breadcrumb-1-x-link--1),
    .flexRowContent--breadcrumb-pdp :global(.vtex-breadcrumb-1-x-link--2) {
      padding: 0;
      text-align: left;
      font: normal normal normal 12px/16px Nunito Sans;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      padding-left: 1.49vw;
    }

    /* BUY BUTTON */

    .flexRow--add-to-cart-button-pdp {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 4rem; */
        /* width: 43.46vw; */
        margin-right: 0;
      }
    
      .flexRowContent--add-to-cart-button-pdp {
        display: flex;
        justify-content: center;
        /* width: 39.48vw; */
        /* height: 2.5rem; */
      }
    
      .flexRowContent--add-to-cart-button-pdp :global(.vtex-button) {
        display: contents;
      }
    
      .flexRowContent--add-to-cart-button-pdp :global(.vtex-button__label) {
        background-color: #005CFF;
        width: 89.49vw;
        height: 3rem;
        border-radius: 10px;
      }

}