.styledLinkContent--text-offers {
    text-transform: uppercase;
}


.styledLinkContainer--category-all {
    margin: 0;
}
.menuContainerNav--space-categories {
    justify-content: space-around;
}

.styledLinkContainer--category-seventh {
    margin-right: 0;
}

.menuItem--text-offers {
    justify-content: center;
    align-items: center;
}

.styledLinkContainer--all-all-categories,
.styledLinkContainer--category-all-sub {
    margin: 0;
}