.flexRowContent--menu-link {
    background-color: #005CFF;
    color: #B1B3B3;
    display: flex;
    width: 100%;
}

.flexRowContent--main-header {
    background-color: #f0f0f0;
    height: 144px;
    display: flex;
    flex-direction: column;
}

.flexRowContent--main-header:first-child {
    align-items: center;
}

.flexRow--menu-categories {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.stretchChildrenWidth :global(.vtex-flex-layout-0-x-flexCol) {
    width: 100%;
}

.flexRow--menu-row {
    background-color: #F2F2F2;
    height: 254px;
    padding-left: 18.75vw;
    padding-right: 18.75vw;  
}

.flexRowContent--menu-row:first-child {
    display: flex;
    flex-direction: column;
}

.stretchChildrenWidth {
    width: 100% !important;
}

.flexRow-payment-methods {
    align-items: center;
    text-align: center;
}

.flexRow--credits {
    margin-top: 1.85vw;
    margin-bottom: 1.5vw;
    height: 59px;
    padding-left: 23.69vw;   
    padding-right: 18.85vw; 
}

.flexRow--brands-footer {
    padding-bottom: 1.77vw;
    justify-content: center;
}

.flexRowContent--social-media-network {
    display: flex;
    flex-direction: column;
}

.flexRow--social-media-line {
    margin-top: 0.52vw;
}

.flexRowContent--payment-line {
    margin-top: 1vw;
}

.flexRowContent--payment-line:first-child {
    margin-top: 1vw;
}

/* MOBILE */


@media screen and (max-width: 40em) {

    /* .flexRow--menu-link {
        visibility: visible;
        
    } */

    .flexRowContent--main-header-mobile {
        /*
        height: 126px;
        */
        width: 100vw; 
        padding: 0%;
        padding-top: 19px;
        padding-bottom: 19px;
    }
    
    .flexRow--main-header-::before {
        height: 126px;
    }
}
