@media screen and (max-width: 40em) {

    .openIconContainer {
        padding: 0;
        margin-left: 2.14vw;
        margin-right: 17.58vw;
    }

    .menuIcon:first-child {
        width: 40.28px;
    
    }
}

@media screen and (min-width: 40em) and (max-width: 64em) {

    .openIconContainer {
        padding: 0;
        margin-left: 2.14vw;
        margin-right: 17.58vw;
    }

    .menuIcon:first-child {
        width: 40.28px;
    
    }

}