.styledLinkContent--text-offers {
    text-transform: uppercase;
}

.menuItem {
    height: 30px;
    margin-right: 3.75vw;
}

.menuItem:last-child {
    margin-right: 0;
}

.menuItem--text-offers {
    justify-content: center;
    align-items: center;
}

.styledLinkContainer {
    text-align: right;
    margin: 0;
    padding: 0;
}


.styledLinkContent {
    margin-top: 15px;
    color: #222;
    width: auto;
}

.styledLinkContent--all-categories {
    font-weight: bold;
}

.styledLinkContent--menu-item-institutional,
.styledLinkContent--menu-item-help-center,
.paragraph--second-information {
    font-size: 14px;
}

.paragraph--second-information {
    font-size: 52px;
}

.menuItem--menu-item-institutional {
    margin: 0;
}

/* .menuContainer {
    width: 8.02vw;
} */