.productPriceCurrency {
    display: none;
}

.inputContainer :first-child{
    font-family: "Heebo";
    font-weight: 700;
  }

.deleteIcon {
    background-image: url("assets/img/close.svg");
    color: transparent;
    width: 9.7px;
    height: 9.7px;
    background-repeat: no-repeat;
}

.productBrandName {
    display: none;
}

.inputContainer {
    padding: 0;
    width: 2.2rem;
}

.quantitySelectorIncrease {
    border: 1px solid #454545;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 7px 13px 7px 0;
    color: #454545;
}

.quantitySelectorDecrease {
    background: #ffffff;
    border: 1px solid #454545;
    border-right: none;
    border-radius: 10px 0 0 10px;
    padding: 7px 0 7px 13px;
    color: #454545;
}

.quantitySelectorIncrease :first-child {
    width: 6px !important;
    color: #000000;
  }
  
  .quantitySelectorDecrease :first-child {
    width: 6px !important;
    color: #000000;
  }

  .inputContainer {
    padding: 0 !important;
    width: 50px;
    border: 1px solid #454545;
    border-left: none;
    border-right: none;
  }

.price {
    font-family: "Roboto";
    text-align: end;
    font-weight: 800;
}

.productPrice {
    font-size: 16px;
}


.productImage::before {
    margin-right: 0.78vw;
}
