.flexRowContent--menu-link {
    background-color: #005CFF;
    color: #B1B3B3;
    display: flex;
    width: 100%;

}

.flexRowContent--main-header {
    background-color: #f0f0f0;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stretchChildrenWidth :global(.vtex-flex-layout-0-x-flexCol) {
    width: 100%;
}

.flexRow--menu-row {
    background-color: #F2F2F2;
    height: 254px;
    padding-left: 363px;
    padding-right: 362px;
}

.flexRowContent--menu-row:first-child {
    display: flex;
    flex-direction: column;
}

.stretchChildrenWidth {
    width: 100%!important;
}

.flexRow-payment-methods {
    align-items: center;
    text-align: center;
}

.flexRow--credits {
    margin-top: 36px;
    margin-bottom: 29px;
    height: 59px;
}

.flexRow--brands-footer {
    padding-bottom: 34px;
    justify-content: center;
}

