.logoContainer {
    padding: 0;
}

/* .logoImage, .logoLink {
    height: 27.08px;
    width: 152.57px;
} */

.searchBarContainer {
    width: 37.55vw;
    padding-top: 15px;
    padding-left: 6.89vw;
}

.noAppearance {
    height: 40px;
    border-radius: 50px;
}

.searchBarIcon {
    color: transparent;
    background-image: url('assets/img/search.svg');
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 7px;
    margin-left: 20px;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
    border-radius: 10px;
    border: 1px solid black;
}
