.productImage {
    width: 89px;
    height: 89px;
}

.quantitySelectorContainer {
    height: 35px;
}

.quantityStepper {
    width: 100px;
}

.quantitySelectorWrapper {
    width: 10px;
}

.deleteIcon{
    background-image: url("assets/img/close.svg");
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}