.biggy-autocomplete {
    border: 1px solid #000000;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: none;
    padding: 0;
    justify-content: center;
    width: 37.55vw;
}

.history-and-top-wrapper {
    max-width: 35.83vw;
    width: 100%;
    border-top: 1px solid #D1D1D1;
    padding: 26px 0 63px;
}

.itemListTitle {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    text-transform: unset;
    margin: 0 0 12px;
}

.itemListPrefix {
    font-size: 13px;
    color: #000000;
    font-weight: 800;
}

.itemListLinkTitle {
    font-size: 13px;
    color: #2A2A2A;
    font-weight: normal;
}

.itemList--history .itemListLink {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.itemListIcon {
    width: 16px;
    height: 16px;
    display: flex;
}

.itemListIcon :first-child {
    color: #005CFF;
}