.price,
.summaryItemLabel {
    font-size: 14px;
}

.summarySmallDisclaimer {
    display: none;
}

.summaryItemContainer:last-child .summaryItemLabel,
.summaryItemContainer:last-child .price {
    font-weight: bold;
    font-size: 16px;
}

.summaryItemContainer {
    color: black;
    font-weight: 600;
  }