.closeIconContainer {
    background-color: #005CFF;
    height: auto;
    margin: auto;
}

.openIconContainer :global(.vtex-minicart-2-x-minicartQuantityBadge) {
    background-color: #005CFF;
    color: white;
}

:global(.vtex-minicart-2-x-openIconContainer) {
    padding: 0;
}

:global(.vtex-button__label) {
    padding: 0!important;
}

:global(.vtex-minicart-2-x-drawerContent), 
:global(.vtex-minicart-2-x-childrenContainer) {
    height: 100%;
}

:global(.vtex-minicart-2-x-minicartSideBarContentWrapper) {
    height: 100%!important;
}
