.logoContainer {
    padding: 0;
    /* margin-right: 5.90vw; */
}

.logoImage {
    height: 100%;
    width: 7.946vw;
    margin-right: 5.90vw;
    /* display: flex; */
}

:global(.vtex-store-components-3-x-logoLink) {
    display: block!important;
    transition: none!important;
    transform: none!important;
}

.searchBarContainer {
    width: 37.55vw;
    padding-top: 15px;
    margin-right: 4.32vw;
}

/* .noAppearance {
    height: 40px;
    border-radius: 50px;
} */

.searchBarIcon {
    color: transparent;
    background-image: url('assets/img/search.svg');
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 7px;
    margin-left: 20px;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
    border-radius: 10px;
    border: 0;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}


.searchBarInnerContainer--input-search-bar-header .autoCompleteOuterContainer {
    border: 1px solid #000000;
    border-radius: 10px;
}

.searchBarInnerContainer--input-search-bar-header--opened .autoCompleteOuterContainer {
    border-bottom: none !important;
    border-radius: 10px 10px 0 0 !important;
}

.imageElement--wrapper-cart-icon {
    width: 24px;
    height: 24px;
}

.imageElement--image-media {
    margin-right: 0.78vw;
    border-radius: 5px;
}

.imageElement--image-payment {
    margin-right: 1.77vw;
}

.imageElement--brands-footer-image {
    margin-right: 1.71vw;
}

.infoCardImage--info-card-home {
    width: 15.52vw;
    height: 258px;
    border-radius: 10px;
}