.flexRowContent--menu-link {
    background-color: #005CFF;
    color: #B1B3B3;
    display: flex;
    width: 100%;
}

.flexRowContent--main-header {
    background-color: white;
    height: 144px;
    display: flex;
    flex-direction: column;
    padding-left: 17.39vw;
    padding-right: 17.39vw;
}

.flexRowContent--main-header-search:first-child, .flexRowContent--menu-categories {
    /* align-items: center; */
    width: 65.20vw;
    justify-content: space-between;
}

.flexRow--menu-categories {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.stretchChildrenWidth :global(.vtex-flex-layout-0-x-flexCol) {
    width: 100%;
}

.flexRow--menu-row {
    background-color: #F2F2F2;
    height: 254px;
    padding-left: 18.75vw;
    padding-right: 18.75vw;
}

.flexRowContent--menu-row:first-child {
    display: flex;
    flex-direction: column;
}

.flexRow-payment-methods {
    align-items: center;
    text-align: center;
}

.flexRow--credits {
    margin-top: 1.85vw;
    margin-bottom: 1.5vw;
    height: 59px;
    padding-left: 23.69vw;
    padding-right: 18.85vw;
}

.flexRow--brands-footer {
    padding-left: 40.98vw;
    padding-right: 40.98vw;
    padding-bottom: 1.77vw;
    justify-content: center;
    height: auto;
}

.flexRowContent--brands-footer {
    justify-content: center;
    align-items: center;
}

.flexRow--social-media-network {
    margin-right: 2.5vw;
}


.flexRowContent--social-media-network {
    display: flex;
    flex-direction: column;
}

.flexRow--social-media-line {
    margin-top: 0.52vw;
}

.flexRowContent--payment-line {
    margin-top: 1vw;
}

.flexRowContent--payment-line:first-child {
    margin-top: 1vw;
    justify-content: center;
}

.flexRowContent--payment-line::before {
    justify-content: center;
}

.flexRowContent--payment-methods {
    margin-top: 38px;
}

.flexRowContent--office-hour,
.flexRowContent--office-contact {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.flexRowContent--office-hour:global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100px;
}


/* .stretchChildrenWidth {
    width: 100%!important;
} */

.flexRow--office-contact {
    margin-left: 2.5vw;
}

/* .flexRowContent--first-line {
    justify-content: space-between;
} */
