.vtex-minicart-2-x-drawer {
    height: auto;
}


.closeIconContainer {
    background-color: #005CFF;
    height: auto;
    margin: auto;
}

.minicartQuantityBadgeDefault {
    background-color: #005CFF;
}

:global(.vtex-minicart-2-x-closeIconButton) {
    color: white;
}

.minicartTitle {
    display: none;
}

.closeIcon {
    width: 17px;
    height: auto;
}


.drawer :global(.vtex-minicart-2-x-closeIconContainer)::after {
    content: "meu carrinho";
    text-transform: uppercase;
    padding-top: 16px;
    padding-left: 5.83vw;
    color: white;
    font-size: 14px;
  }

:global(.vtex-minicart-2-x-openIconContainer) {
    padding: 0;
}

:global(.vtex-button__label) {
    padding: 0!important;
}

.minicartCheckoutButton :global(.vtex-button){
    background-color: #005CFF;
    border: transparent;
    border-radius: 12px;
  }

.minicartCheckoutButton :global(.vtex-button__label) {
    display: none;
  }
  
  .minicartCheckoutButton :global(.vtex-button)::before {
    content: "FINALIZAR PEDIDO";
    font-size: 14px;
  }