.styledLinkContent--text-offers {
    text-transform: uppercase;
}


/* .styledLinkContent--menu-item-side-categories, .styledLinkContent--all-categories  {
    height: 30px;
    margin-right: 4.35vw;
} */

.styledLinkContainer--category-all {
    margin: 0;
}
.menuContainerNav--space-categories {
    justify-content: space-around;
}

.styledLinkContainer--category-seventh {
    margin-right: 0;
}

.menuItem--text-offers {
    justify-content: center;
    align-items: center;
}

.styledLinkContainer {
    text-align: right;
}

.styledLinkContainer--all-all-categories, .styledLinkContainer--category-all-sub {
    margin: 0;
}

.styledLinkContent {
    margin-top: 15px;
    color: #222;
    width: auto;
}

.styledLinkContent--all-all-categories {
    font-weight: bold;
}

.styledLinkContent--menu-item-institutional,
.styledLinkContent--menu-item-help-center {
    font-size: 14px;
    color: #000000;
}

.menuItem--menu-item-help-center, .menuItem--menu-item-institutional {
    height: 20px;
}

.menuContainerNav--menu-blocks {
    margin-right: 3.12vw;
}

.submenuWrapper--all-col-category{
    width: 32.08vw;
    height: auto;
    left: -18.59vw;
    /* left: -356.9px; */
}

.menuContainer--main-col-category{
    display: flex;
    height: 100%;
    gap: 1rem;
    padding-left: 17.39vw;
}

.submenuWrapper--container-submenu{
    padding: 0;
    left: 14.7vw;
    top: -27.5px;
    width: 67.91vw;
    height: 311px;
    background: #F6F6F6;
}

.submenuContainer--container-submenu {
    height: 350px;
}