/* .productPriceCurrency {
    display: none;
} */

.deleteIcon {
    background-image: url("assets/img/close.svg");
    color: transparent;
    width: 9.7px;
    height: 9.7px;
    background-repeat: no-repeat;
}

.productBrandName {
    display: none;
}

.inputContainer {
    padding: 0;
    width: 2.2rem;
}

.quantitySelectorIncrease {
    border-left: none;
    border-width: 1px;
    border-radius: 0 10px 10px 0;
    color: #454545;
}

.quantitySelectorDecrease {
    border-right: none;
    background: #ffffff;
    color: #454545;
    border-width: 1px;
    border-radius: 10px 0 0 10px;
}

.inputContainer {
    padding-right: 0;
    padding-left: 0;
    width: 2.5rem;
}

.price {
    margin-top: -26px;
    text-align: end;
    font-weight: 800;

    margin-left: 3.3rem;
}

.productPrice {
    font-size: 16px;
}

.quantitySelectorButton:first-child {
    width: 33px;
}

.quantitySelectorButton:nth-child(even) {
    width: 36px;
}

/* .productImage {
    width: 89px;
    height: 89px;
} */


/* .deleteIcon {
    background-image: url("assets/img/close.svg");
    color: transparent;
    width: 9.7px;
    height: 9.7px;
    background-repeat: no-repeat;
}

.productBrandName {
    display: none;
}


.quantitySelectorContainer {
    height: 35px;
}

.quantityStepper {
    width: 100px;
}

.quantitySelectorWrapper {
    width: 10px;
}

.deleteIcon {
    background-image: url("assets/img/close.svg");
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.quantitySelectorDecrease,
.quantitySelectorIncrease {
    background-color: white;
    border: 0;
    color: black;
    height: 22px;
    width: 25px;
}

.quantitySelectorButton {
    height: 30px;
    width: 30px;
}

.quantitySelectorWrapper {
    border: 1px solid darkgrey;
    border-radius: 10%;
    height: 36px;
    width: 100px;
}

.inputContainer {
    padding-right: 0;
    padding-left: 0;
    height: 30px;
    width: 30px;
} */

/* .price{
    margin-left: 74px;
    margin-top: -26px;
    font-weight: bold;
} 

.productPriceCurrency{
    display: none;
}

*/