@media screen and (max-width: 40em) {

    /* BREADCRUMB */

    .homeIcon {
        display: none;
    }

    .homeLink {
        padding: 0;
        padding-left: 0!important;
        margin-left: 5.14vw;
        height: 22px;
    }

    .homeLink::after {
        content: "Início";
        text-align: left;
        font: normal normal normal 14px/19px Nunito Sans;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        height: 22px;
    }

    .caretIcon {
        color: black;
        height: 0.438rem;
        /* width: 1.02vw; */
    }

    .arrow {
        margin-left: 1.23vw;
        padding: 0;
    }

    .link {
        padding: 0;
        text-align: left;
        font: normal normal 600 14px/19px Nunito Sans;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        padding-left: 1.49vw;
    }


}