@media screen and (min-width: 40em) and (max-width: 64em) {

  /* FIRST LINE */

  .flexRowContent--home-first-line {
    background-color: #f5f5f5;
    height: 18.75rem;
  }

  /* LAUNCH PRODUCT LINE */

  .flexRowContent--lanch-product-line {
    display: flex;
    justify-content: space-between;
    margin-top: 3.288rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }

  /* SHELF */

  .flexRowContent--slider-products-line {
    display: flex;
    justify-content: center;
    height: 25.188rem;
  }

  .flexRow--product-price-shelf {
    display: flex;
    justify-content: center;
  }

  .flexRowContent--product-price-shelf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 43.46vw;
    margin-right: 0;
    margin-bottom: 0;
  }

  .flexRow--product-price-shelf,
  .flexRowContent--product-price-shelf {
    height: 1.813rem;
  }

  .flexRowContent--lanch-product-line {
    display: flex;
    justify-content: space-between;
  }

  .flexCol--productRating {
    margin: 0.438rem;
  }

  .flexRow--add-to-cart-button-home {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
  }

  .flexRowContent--add-to-cart-button-home {
    display: flex;
    justify-content: center;
    width: 20.41vw;
    height: 3.5rem;
    align-items: center;
  }

  .flexRowContent--add-to-cart-button-home :global(.vtex-button) {
    display: contents;
  }

  .flexRowContent--add-to-cart-button-home :global(.vtex-button__label) {
    background-color: #005CFF;
    width: 39.48vw;
    height: 2.5rem;
    border-radius: 10px;
  }

  /* AVAILABLE SHELF */

  .flexRowContent--available__shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* BANNERS */

  .flexRow--banners-sales-line {
    margin-top: 3.101rem;
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--banners-sales-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 89.6vw;
  }

  .flexRowContent--banners-sales-second-line {
    display: flex;
    flex-direction: column;

  }

  .flexRow--banners-sales-first-line,
  .flexRow--banners-sales-second-line-banner-1 {
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: end;
  }

  .flexRowContent--banners-sales-second-line-banner-1,
  .flexRowContent--banners-sales-second-line-banner-2 {
    display: flex;
    justify-content: flex-end;
  }

  /* PRE FOOTER */

  .flexRow--pre-footer {
    margin-top: 3.563rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }

  .flexRowContent--pre-footer {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 50em) {

  .flexRowContent--banners-sales-line {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }

  .flexRowContent--banners-sales-first-line {
    display: flex;
    justify-content: center;
  }




}