@media screen and (min-width: 40em) and (max-width: 64em) {

  /* FIRST LINE */

  .imageElement--home-banner-mobile {
    height: 18.75rem;
    object-fit: cover;
  }

  /* BANNERS */

  .imageElement--image-banner-home {
    width: 89.6vw;
  }

  .imageElement--big-banner {
    width: 44.6vw;
  }

  .imageElement--medium-banner, .imageElement--small-banner {
    width: 44.25vw;

  }


 }