@media screen and (min-width: 40em) and (max-width: 64em) {

  .element {
    padding: 0;
  }

/* SHELF */

  .imageContainer {
    width: 22.07vw;
    height: 13.125rem;
    padding-top: 0.5rem;
  }

  /* ------------------------- */

  .nameContainer {
    padding: 0;
    /* padding-top: 1.063rem; */
    padding: 0;
    justify-content: center;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  .productBrand {
    text-align: center;
    font: normal normal normal 13px/18px Nunito Sans;
    letter-spacing: 0.65px;
    color: #303030;
    text-transform: capitalize;
    opacity: 1;
    display: flex;
    justify-content: center;
  }

  .currencyContainer--summary-final {
    font-size: 18px;
  }

  .containerNormal {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
  }

}