@media screen and (max-width: 40em) {

  /* MAIN TEXT */

  .paragraph--not-found-main-text {
    text-align: center;
    text-transform: none;
    font: normal normal 600 22px/22px Nunito Sans;
    letter-spacing: 0px;
    color: #005CFF;
    opacity: 1;
  }

  .paragraph--not-found-col-one-text {
    text-transform: none;
    font: normal normal 600 18px/28px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .container--not-found-col-one-text {
    justify-content: end;
  }

  .paragraph--not-found-col-one-text {
    text-transform: none;
    font: normal normal 600 18px/28px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .container--not-found-col-two-text {
    margin-left: 7.01vw;
    height: 1.281rem;
  }

  .paragraph--not-found-col-two-text {
    text-transform: none;
    font: normal normal normal 12px/22px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

}