@media screen and (max-width: 40em) {

  .container {
    padding-left: 0 !important;
  }

  .buttonLink {
    /* margin-top: 14.87px; */
    padding-left: 5.14vw;
  }

    .profileIcon {
    background-image: url("assets/img/user.svg");
    color: transparent;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 20x;
    height: 25px;
    scale: 70%;
    /* transform: translateY(3px); */
    background-repeat: no-repeat;
  }

  .label {
    color: black;
    display: flex;
    font-weight: 600;
    transform: translateY(5px);
    font-size: 14px;
  }
}