@media screen and (max-width: 40em) {

    .paragraph--social-media-text {
        font-size: 12px;
        color: black;
        margin: 0!important;
        margin-top: 5px;
        padding-left: 5.14vw;
    }

    .paragraph--footer {
        font-size: 12px;
        color: black;
        padding-left: 5.14vw;
        padding-right: 5.14vw;
    }

}
