@media screen and (max-width: 40em) {

    .openIconContainer {
        padding: 0;
        margin-left: 2.14vw;
        margin-right: 17.58vw;
    }

    .menuIcon:first-child {
        width: 40.28px;
    
    }

    .closeIconButton--drawer-class {
        color: white;
    }

    .closeIconContainer--drawer-class {
        background-color: #005CFF;
        height: 50px;
    }

    .closeIcon--drawer-class {
        height: 22px;
        width: 22px;
        color: #FFF;
        /* padding-left: 70vw; */
    }

    .closeIconContainer--drawer-class::before {
        content: "Menu";
        color: #FFF;
        margin: auto;
        margin-left: 36vw;
        text-transform: uppercase;
        font-size: 14px;
    }

}