@media screen and (max-width: 40em) {

    .openIconContainer {
        padding: 0;
        /* margin-left: 17.30vw; */
        width: 6.7vw;
    }

    .cartIcon {
        height: 100%;
        width: 25px;
    }
}
