@media screen and (max-width: 40em) {

    .logoImage--image-logo-mobile {
        height: 100%;
        width: 43.44vw;
        margin-right: 17vw;
    }

    .logoContainer--image-logo-mobile::before {
        width: 43.44px;
    }

    .searchBarInnerContainer--input-searchbar-mobile--opened :global(.vtex-input) {
        border-radius: 10px 10px 0px 0px !important;
        border-bottom: none!important;
    }

    .searchBarContainer:first-child {
        margin: 0;
        padding: 0;
        /* padding-top: 19px;
        padding-bottom: 15px; */
        /* margin-left: 5.14vw; */
    }

    .searchBarInnerContainer--input-searchbar-mobile {
        width: 89.6vw;
    }

    .searchBarInnerContainer--input-searchbar-mobile :global(.vtex-input) {
        border: 1px solid #000000;
        border-radius: 10px;
    }

    .autoCompleteOuterContainer--input-searchbar-mobile :global(.vtex-input-prefix__group) {
        border-radius: 10px;
        border: 0;
    }

    .searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
        font-size: 14px;
        font-weight: 600;
        color: #000000;
    }

    .imageElement--image-media {
        height: 36px;
        width: 36px;
        margin-left: 2.3vw;
        margin-right: 0 !important;
    }

    .imageElement--facebook-class {
        margin-left: 7.7vw;
    }

    .imageElement--image-payment {
        margin-right: 0vw;
    }

    :global(.vtex-store-components-3-x-container) {
        padding: 0 !important;
    }
}