@media screen and (max-width: 40em) {

    .logoImage--image-logo-mobile {
        height: 100%;
        width: 43.44vw;
        margin-right: 17vw;
    }

    .logoContainer--image-logo-mobile::before {
        width: 43.44px;
    }

    .searchBarContainer {
        margin-left: 0;
        margin: 0;
        padding: 0;
        width: 100px;
    }

    .searchBarContainer:first-child {
        margin: 0;
        padding: 0;
        padding-top: 19px;
        padding-bottom: 15px;
        /* margin-left: 5.14vw; */
    }


    .searchBarInnerContainer--input-searchbar-mobile{
        width: 89.71vw;
        border: 1px solid #000000;
        border-radius: 10px;
    }

    .autoCompleteOuterContainer--input-searchbar-mobile :global(.vtex-input-prefix__group) {
        border-radius: 10px;
        border: 0;
    }
    
    .searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
        font-size: 14px;
        font-weight: 600;
        color: #000000;
    }

     .imageElement--image-media {
        margin-top: 22px;
        margin-left: 1vw; 
        height: 36px;
        width: 36px;
        border-radius: 2px;
    }

    .imageElement--image-payment {
        margin-right: 0vw;
    }
}





.searchBarInnerContainer--input-search-bar-header .autoCompleteOuterContainer {
    border: 1px solid #000000;
    border-radius: 10px;
}

.searchBarInnerContainer--input-search-bar-header--opened .autoCompleteOuterContainer {
    border-bottom: none !important;
    border-radius: 10px 10px 0 0 !important;
}

.imageElement--wrapper-cart-icon {
    width: 24px;
    height: 24px;
}

.imageElement--image-media {
    margin-right: 0.78vw;
    border-radius: 3px;
}

.imageElement--image-payment {
    margin-right: 1.77vw;
}

.imageElement--brands-footer-image {
    margin-right: 1.71vw;
}

.infoCardImage--info-card-home {
    width: 15.52vw;
    height: 258px;
    border-radius: 10px;
}
