@media screen and (max-width: 40em) {

    :global(.vtex-store-drawer-0-x-opened--drawer-class) {
        max-width: 100vw!important;
        width: 100%!important;
    }

    .openIconContainer {
        padding: 0;
        margin-left: 2.14vw;
        margin-right: 17.58vw;
    }

    .menuIcon--drawer-class {
        margin-top: 5px;
        height: 21.28px;
    }

    .menuIcon:first-child {
        width: 40.28px;
    
    }

    .closeIconButton--drawer-class {
        color: transparent;
    }

    .closeIconContainer--drawer-class {
        background-color: #005CFF;
        height: 50px;
        width: 100vw;
    }

    .closeIcon--drawer-class {
        height: 22px;
        width: 22px;
        color: #FFF;
    }

    .closeIconContainer--drawer-class::before {
        content: "Menu";
        color: #FFF;
        margin: auto;
        margin-left: 45.09vw;
        text-transform: uppercase;
        font-size: 14px;
    }

}