@media screen and (min-width: 64em) {

    /* IMAGE */

    .flexRow--row-product-availability {
        margin-left: 17.39vw;
        margin-right: 17.39vw;
        margin-top: 1.875rem;
        min-height: 563px;
    }

    .flexRow--row-product-availability :global(.vtex-store-components-3-x-container) {
        padding: 0 !important;
        margin: 0 !important;
    }

    /* TITLE */

    .flexRowContent--message-availability {
        margin-top: 1.875rem;
    }

    .flexRowContent--message-availability :global(.vtex-availability-notify-1-x-notiferContainer)::before {
        content: "Estamos sem este produto no momento :(";
        text-align: left;
        font: normal normal bold 16px/27px Nunito Sans;
        letter-spacing: -0.16px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        height: 52px;
    }

    .flexRowContent--message-availability :global(.vtex-availability-notify-1-x-form)::before {
        content: "Quer ser avisado quando este produto chegar?";
        text-align: left;
        font: normal normal normal 14px/31px Nunito Sans;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
 
    .flexRowContent--message-availability :global(.vtex-availability-notify-1-x-title) {
        text-align: left;
        font: normal normal bold 16px/27px Nunito Sans;
        letter-spacing: -0.16px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
    }

    .flexRowContent--message-availability :global(.vtex-availability-notify-1-x-title),
    .flexRowContent--message-availability :global(.vtex-availability-notify-1-x-notifyLabel) {
        display: none;
    }

    /* INPUT */

    .flexRowContent--message-availability :global(.vtex-availability-notify-1-x-content) {
        flex-direction: column;
    }

    .flexRowContent--message-availability :global(.vtex-availability-notify-1-x-content) {
        flex-direction: column;
    }

    .flexRowContent--message-availability :global(.vtex-input-prefix__group) {
        border: 1px solid #2A2A2A;
        opacity: 1;
        border-radius: 10px;
        height: 3rem;
    }

    .flexRowContent--message-availability :global(.vtex-styleguide-9-x-input) {
        text-align: left;
        font: normal normal normal 13px/13px Nunito Sans;
        letter-spacing: 0px;
        color: #000000;
        text-transform: none;
        opacity: 1;
    }

    /* BUTTON */


    .flexRowContent--message-availability :global(.vtex-button) {
        background: #005CFF 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 10px;
        width: 23.80vw;
        height: 3.125rem;
    }

    .flexRowContent--message-availability :global(.vtex-button__label) {
        font: normal normal bold 14px/6px Nunito Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: capitalize;
        opacity: 1;
    }

}